@font-face {
  font-family: 'PTMono-Regular';
  src: url('fonts/PTMono-Regular.ttf');
}

@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: url('fonts/LibreBaskerville-Regular.ttf');
}

body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  background: #232526;
  cursor: auto;
  user-select: none;
  color: #d3d3d3;
  font-family: 'LibreBaskerville-Regular';
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1a1a1a;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-right: 5px #232526 solid;
  background-clip: padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4d4c4c;
  border-right: 5px #232526 solid;
  background-clip: padding-box;

}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

#bar{
  width: 100%;
  height: 24px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  background: none;
  position: fixed;
  z-index: 999;
  top: 0;
  -webkit-app-region: drag;
}


.icons{
  margin: 5px;
  width: 12px;
  height: 12px;
  transition:0.8s;
  opacity: 0.7;
  z-index: 1000;
  -webkit-app-region: no-drag;
}

#x:hover, #mini:hover, #maxi:hover{
  opacity: 0.4;
}

#x{
  margin-right: 10px;
}

#content{
  width: 100%;
  margin: 0;
  padding: 0;
}

#bglogo{
  opacity: 0.3;
  filter: blur(10px);
  position: fixed;
  top: -50px;
  left: -50px;
  width: 500px;

}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 10px;
  width: 150px;
  height: 80px;
  margin: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: #d3d3d3;
  opacity: 0.8;
  border-radius: 3px;
  color: #232526;
  font-family: 'PTMono-Regular';
}

.card img{
  filter: blur(.8px);
  padding: 5px;
  transition: 0.5s;
}

.boxes{
  margin-bottom: 70px;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#intro-content{
  width: 800px;
  height: 500px;
  margin: auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

#intro-content2{
  width: 800px;
  margin: auto;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  z-index: 100;
}

#username{
  opacity: 0;
  border: none;
  outline: none;
  background-color: #4d4c4c;
  box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
  font-size: 24px;
  width: 350px;
  height: 40px;
  margin: auto;
  position: absolute;
  top:40%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #dedede;
  font-family: 'PTMono-Regular';
  border-radius: 8px;
  padding-left: 12px;
  animation: fading ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-duration: 3s;
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome{
  animation: fading ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-duration: 3s;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 50px;
  font-size: 40px;
  opacity: 0;
}

.welcome2{
  animation: fading ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  animation-duration: 3s;
  margin-top: 33px;
  margin-bottom: 0;
  margin-left: 190px;
  font-size: 40px;
  opacity: 0;
}

.welcome3{
  animation: fading ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  animation-duration: 3s;
  margin-top: 36px;
  margin-bottom: 0;
  margin-left: 340px;
  font-size: 40px;
  opacity: 0;
}

.welcome4{
  animation: fading ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  animation-duration: 3s;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  opacity: 0;
}

.slider{
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 50px;
  font-size: 30px;
}

#error{
  color: #ad4740;
  visibility: hidden;
  position: absolute;
  margin: 0;
  display: inline-block;
  text-align: center;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  top:55%;
  bottom: 0;
  left: 0;
  right: 0;
}

#button{
  animation: fading ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 3s;
  width: 100px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  border-radius: 3px;
  opacity: 0;
  color: #232526;
  cursor: grab;
  text-align: center;
  background-color: #d3d3d3;
  margin: auto;
  position: absolute;
  top:70%;
  bottom: 10px;
  left: 0;
  right: 0;
}

#button2{
  width: 100px;
  height: 35px;
  line-height: 35px;
  font-size: 22px;
  border-radius: 3px;
  color: #232526;
  cursor: grab;
  text-align: center;
  background-color: #d3d3d3;
  margin: 0 auto;
  margin-bottom: 50px;
}

.active{
  box-shadow: 0px 0px 36px -22px rgba(235,235,235,1);
  border: 3px #1a1a1a solid;
}
